//text colors

$color-title:#4B5D68;
$color-nav:#8A40EE;
$color-text:#212353;
$color-button:#FFFFFF;
$color-link:#9C69E2;

//button colors

$color-learn: #F063B8;
$color-learnA:#EB4BAB;

//background color

$color-sub1: #FDE8F5;
$color-sub2: #CCDDFF;
$color-card1: #F6F0FD;
$color-card2: #FEF0F8;
$color-card3: #EAF6FC;