body {
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 215px;
}

.button {
    width: 216px;
    height: 60px;
    border-radius: 50px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    display: flex;
    justify-content: center;
    align-items: center;
}