body {
    width: 100vw;
    height: 100vh;
}

.container {
    margin:0 auto;
    max-width: 1170px;

    @media (max-width: $tab) {
        margin: 0 16px;

    }
}

.button {
    width: 216px;
    height: 60px;
    border-radius: 50px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tab) {
        font-size: 8px;
        width: 100px;
        height: 20px;
    }
}

.h1 {
    font-family: $sub-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 40px;
    }
}

.h2{
    font-family: $sub-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 20px;
    }
}

.h3 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 12px;
    }
}

.h4 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $color-title;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h5 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h6 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h7 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: $color-link;

    @media (max-width: $tab) {
        font-size: 7px;
    }
}

.h8 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 10px;
    }
}

.h9 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h10 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h11 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;

    @media (max-width: $tab) {
        font-size: 8px;
    }
}

.h12 {
    font-family: $main-font;
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;

    @media (max-width: $tab) {
        font-size: 6px;
    }
}

.p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: $color-title;

    @media (max-width: $tab) {
        font-size: 9px;
    }
}

