body {
    width: 100%;
    height: 100%;
}

.container {
    margin: auto 215px;
}

.button {
    width: 216px;
    height: 60px;
    border-radius: 50px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.005em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: $sub-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: $color-text;
}

.h2{
    font-family: $sub-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: $color-text;
}

.h3 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $color-text;
}

.h4 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $color-title;
}

.h5 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;
}

.h6 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;
}

.h7 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: $color-link;
}

.h8 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: $color-text;
}

.h9 {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: $color-text;
}

.h10 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: $color-text;
}

.h11 {
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: $color-text;
}

.h12 {
    font-family: $main-font;
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.p {
    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: $color-title;
}

