.hero {
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        margin-bottom: 135px;
    }

    &__title {
        max-width: 601px;
    }

    &__text {
        max-width: 370px;
    }

    &__img {
        position: absolute;
        max-width: 770px;
        right: 50px;
        z-index: -1;
        bottom: -50px;
    }

    &__button {
        font-family: $main-font;
        color: $color-button;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        background: $color-link;
        border: 1px solid $color-link;
        cursor: pointer;

        &:hover {
            background: $color-nav;
        }
    }
}

.who {
   
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-radius: 50px;
        background: $color-sub1;
        margin-bottom: 120px;
    }

    &__box{
        position: relative;
        margin:110px 70px ;
    }
    
    &__title {
        max-width: 500px;
        margin-bottom: 40px;
    }

    &__text {
        max-width: 500px;
    }

    &__img {
        position: absolute;
        max-width: 400px;
        top: -35px;
        left: -530px;
    }
}

.features {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: -20px;

        &:first-child {
            display: block;
            text-align: center;
            max-width: 638px; 
            margin-bottom: 80px;
        }
    }

    &__title {
        margin-bottom: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 400px;
        background: $color-card;
        border-radius: 50px;
        margin-left: 170px;
        margin-bottom: 70px;

        &-title {
            margin: 62px 100px 20px;
            z-index: 1;
        }

        &-text {
            margin: 20px 100px;
            width: 230px;
            z-index: 1;
        }

        &-sub {
            display: flex;
            gap: 20px;
            margin-left: 100px;
            align-items: center;
            margin-bottom: 62px;
            z-index: 1;

            &--arrow {
                max-width: 20px;
                max-height: 14px;
            }
        }

        &-img {
            position: absolute;
            left: -160px;
            top: 110px;
            width: 230px;
            z-index: 1;
        }

        &-bg {

            &--one {
                position: absolute;
                width: 205px;
                top: 10px;
                right: 50px;
            }

            &--two {
                position: absolute;
                width: 222px;
                bottom: 20px;
                right: 20px;
            }

            &--three {
                position: absolute;
                width: 68px;
                top: 11px;
                right: 13px;
            }
            
            &--four {
                position: absolute;
                width: 323px;
                top: 20px;
                left: 7px;
            }

            &--five {
                position: absolute;
                width: 62px;
                bottom: 20px;
                right: 20px;
            }
            
        }

        &:nth-child(2) {
            background: $color-card1;

        }

        &:nth-child(3) {
            background: $color-card2;

        }

        &:nth-child(4) {
            background: $color-card3;

        }
    }
}

.test {

    &__container {
        background: $color-sub2;
        border-radius: 50px;
        position: relative;
        margin-bottom: 120px;
    }

    &__wrapp {
        padding: 80px 70px;
    }

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &__box {
        display: flex;
        gap: 100px;
    }

    &__card {
        background: $color-button;
        border: 1px solid $color-link;
        border-radius: 50px;
        display: flex;

        &-item {
            padding: 50px 30px;
        }
    }

    &__img {
        border-radius: 45px;
        width: 90px;
        margin-right: -15px;
    }

    &__sub {
        margin-bottom: 2px;
    }

    &__link {
        margin-bottom: 19px;
        color: $color-link;
    }

    &__text {
        max-width: 300px;
    }

    &__bg {

        &-one {
            position: absolute;
            width: 540px;
            top: 0;
            left: 0;
        }

        &-two {
            position: absolute;
            width: 580px;
            top: 0;
            right: 0;
        }
    }
}