.header {
    
    &__container {
        display: flex;
        margin-top: 32px;
        align-items: flex-start;
        margin-bottom: 132px;
    }
    

    &__logo {
        max-width: 44px;
        max-height: 35px;
        margin-right:120px ;
    }

    &__list {
        display: flex;
        gap: 40px;
        margin-right: 447px;

        &-item {
            font-family: $main-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: $color-title;
            max-width: 65px;
        }

        &-link{

            &:hover{
                color: $color-nav;
            }
        }  
        
    }

    &__box{
        display: flex;
        
        &:last-child {
            position: relative; 
        }
    }

    &__button {
        gap: 20px;
        border: 1px solid $color-link;
        background: $color-button;
        cursor: pointer;
        color: $color-text;
        position: absolute;

        &-active{
            z-index: -2;
            gap: 20px;
            border: 1px solid $color-link;
            background: $color-link;
            cursor: pointer;
            color: $color-button;
            position: absolute;
        }

        &:hover{
            transition: 0.001ms;
            z-index: -20;
        }
    }

    &__arrow {
        width: 20px;

        &-active {
            width: 20px;
        }
    }

}