.header {
    
    &__container {
        display: flex;
        margin-top: 32px;
        align-items: flex-start;
        margin-bottom: 132px;
        
    }
    

    &__logo {
        max-width: 44px;
        max-height: 35px;
        margin-right:120px ;

        @media (max-width: $tab) {
            margin-right: 180px;
        }
    }

    &__list {
        display: flex;
        gap: 40px;
        margin-right: 447px;

        @media (max-width: $tab) {
            display: none;
        }

        &-item {
            font-family: $main-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: $color-title;
            max-width: 65px;
        }

        &-link{

            &:hover{
                color: $color-nav;
            }
        }  
        
    }

    &__box{
        display: flex;
        
        
        &:last-child {
            position: relative; 
            
        }
    }

    &__button {
        gap: 20px;
        border: 1px solid $color-link;
        background: $color-button;
        cursor: pointer;
        color: $color-text;
        position: absolute;

        @media (max-width: $tab) {
            gap: 5px;
        }
        

        &-active{
            z-index: -2;
            gap: 20px;
            border: 1px solid $color-link;
            background: $color-link;
            cursor: pointer;
            color: $color-button;
            position: absolute;

            @media (max-width: $tab) {
                gap: 10px;
            }
            
        }

        &:hover{
            transition: 0.001ms;
            opacity: 0;
        }
    }

    &__arrow {
        width: 20px;

        @media (max-width: $tab) {
            width: 10px;
        }

        &-active {
            width: 20px;

            @media (max-width: $tab) {
                width: 10px;
            }
        }
    }

}